img.frame {

  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2*var(--s)) solid #ffffff00;
  outline: 1px solid #ffffff;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#00000000 25%,#ffffff 0);

}

img.framed {
  border: solid #ffffff;
  border-style: #ffffff;
  border-width: 5px;

}

body {

  background-color: #fb7e94;

}

.londrina-sketch-regular {

  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", "cursive";
  font-weight: 400;
  font-style: normal;
}


  
p,h1,h2,h3,h4,h5,li {

  font-family: "Anuphan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

